<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Create Post</h1>
  <form action="" method="POST">
    <label for="title">Title</label>
    <input name="title" placeholder="Title" type="text" value=<%= undefined===post ? "" : post.title %>>

    <label for="author">Author</label>
    <input name="author" placeholder="Author" type="text" value=<%= undefined===post ? "" : post.author %>>
    

    <label for="content">Content</label>
    <textarea name="content" id="content"><%= undefined === post ? '' : post.content %></textarea>

    <input class="checkbox-input" type="checkbox" name="publish" id="publish" value="isChecked" <% if (post.publish) { %> checked <% } %>>
    <label for="publish">Publish</label>




    
    <button type="submit">Submit</button>
  </form>
</body>
</html>