<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <header>
            <a href="/" class="title">Blog</a>
        </header>

        <div class="desc">
            <h2>Explore new perspectives</h2>
            <p>Read and share ideas from independent voices, world-class publications, and experts from around the globe. Everyone's welcome.</p>
        </div>

        <div class="post-container">
            <% posts.forEach(post => { %>
				<div class="post">
            		<h3 class="post-title"><%= post.title %></h3>
            		<p class="post-author"><%= post.author %></p>
					<a href="<%= post.url %>" class="post-btn">View Post</a>
				</div>
            <% }); %>
        </div>
    </body>
</html>
